.customModal {
  .ant-modal-content{
    border-radius: 25px!important;
  }
}
.customInput {
  .ant-input {
    border-radius: 12px !important;
    height: 40px !important;
    border-color: lightslategrey !important;
  }

  .ant-input:focus {
    box-shadow: 0 0 0 2px rgba(119, 136, 153, 0.2) !important;
  }
}
