.fade-slide-enter-active,
.fade-slide-leave-active {
  transform: translateX(-30px);
  transition: opacity 0.5s ease, color 0.5s ease-in-out, transform 0.5s ease;
}

.fade-slide-enter,
.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.fade-slide-enter-to,
.fade-slide-leave {
  opacity: 1;
  transform: translateX(0);
}

.layout-slide-enter-active,
.layout-slide-leave-active {
  transform: translateX(-30px);
  transition: opacity 0.5s ease, color 0.5s ease-in-out, transform 0.5s ease;
}

.layout-slide-enter,
.layout-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.layout-slide-enter-to,
.layout-slide-leave {
  opacity: 1;
  transform: translateX(0);
}

.image-enter-active,
.image-leave-active {
  transform: translateY(60px);
  transition: opacity 0.5s ease, color 0.5s ease-in-out, transform 0.5s ease;
}

.image-enter,
.image-leave-to {
  opacity: 0;
  transform: translateY(-60px);
}

.image-enter-to,
.image-leave {
  opacity: 1;
  transform: translateY(0);
}
