.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headerContainer{
  align-self: center;
  font-family:'DMSans-Bold', serif;
  font-size: 50px;
  font-weight:700;
  color: lightslategrey;
}

.footerContainer{
  align-self: end;
  font-family:'DMSans-Bold', serif;
  font-size: 50px;
  font-weight:700;
  color: lightslategrey;
}

@media (max-width: 900px) {
  .footerContainer{
    font-size: 30px;
  }
  .headerContainer{
    font-size: 30px;
  }
}

@media (max-width: 550px) {
  .footerContainer{
    font-size: 20px;
  }
  .headerContainer{
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  .footerContainer{
    font-size: 15px;
  }
  .headerContainer{
    font-size: 15px;
  }
}
