.title {
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  font-family: 'DMSans-Bold', sans-serif; /* Use 'DM Sans' as defined in @font-face */
  font-weight: 700;
  font-size: 40px;
  color: cadetblue;
  animation: fadeIn 1s ease forwards;
}

.label {
  font-family: 'DMSans-Regular', sans-serif; /* Use 'DM Sans' as defined in @font-face */
  font-weight: 300;
  font-size: 20px;
  color: rgba(119, 136, 153, 0.9);
  margin-top: -20px;
  margin-bottom: -20px;
}

.loginContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  animation: fadeOut 1s ease forwards;
  margin-top: 20px;
}

.loginButton {
  border: unset;
  border-radius: 15px;
  background-color: cadetblue;
  color: papayawhip;
}

.loginButton:hover {
  border: unset;
  border-radius: 15px;
  color: cadetblue !important;
  background-color: papayawhip !important;
}

.loginButton:focus,
.loginButton:active {
  background-color: cadetblue; /* Ensure the color doesn't change on focus */
  color: papayawhip;
  outline: none; /* Remove focus outline */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px); /* Move it up slightly */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Back to normal position */
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
    transform: translateY(-40px); /* Move it up slightly */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Back to normal position */
  }
}
