.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  /*font-family: 'Roboto-Italic', sans-serif;*/
  font-family: 'DMSans-Regular-Bold', sans-serif;
  font-weight: 700;
  font-size: 36px;
}

.subContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  overflow: hidden;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 200px;
}

.img {
  width: 150px;
  height: 200px;
}

.text {
  /*font-family: 'Roboto-Italic', sans-serif;*/
  font-family: 'DMSans-Regular-Bold', sans-serif;
  font-size: 18px;
  /*font-weight: 300;*/
  font-weight: 400;
  color: cadetblue;
}

.homeContainer {
  display: flex;
  justify-content: end;
  align-items: end;
}

.home {
  color: cadetblue;
}

@media (max-width: 900px) {
  .detail {
    width: 150px;
  }
  .img {
    width: 130px;
    height: 170px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }
  .text {
    font-size: 12px;
  }
  .detail {
    width: 120px;
  }
  .img {
    width: 100px;
    height: 140px;
  }
}

@font-face {
  font-family: 'DMSans-Regular-Bold';
  src: url('/public/assets/fonts/DMSans-Regular.ttf') format('ttf'),
    url('/public/assets/fonts/DMSans-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Robo-Regular-Bold';
  src: url('/public/assets/fonts/Roboto-Italic.ttf') format('ttf'),
    url('/public/assets/fonts/Roboto-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
